body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

html{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colors {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* flex-grow: 50; */
}
.colors>* {
  flex: 1 1 70px;
  margin: 20px;
  flex-grow: 50;
}

.sidebar-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-container{
  display: flex;

}

.image{
  margin-bottom: 100px;
}

.draw-this{
  font-size: 30px;
}

.color-header{
  margin: 4px 0;
}

.color {
  border: 1px solid gainsboro;
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 4px;
  margin: 4px;
}

.color:hover{
  opacity: .8;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: darkorange; }
.color.purple { background-color: purple; }
.color.brown { background-color: brown; }
.color.gold { background-color: gold; }
.color.teal { background-color: teal; }
.color.pink { background-color: pink; }
.color.fuchia { background-color: fuchsia; }
.color.dimgray { background-color: dimgray; }

.start-game{
  display: inline-block;
  flex: 1;
  height: 50px;
  width: 100px;
}

.timer{
  /* position: absolute;
  right: 5%;
  top: 5%; */
  font-size: 24px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin-bottom: 0px;
  display: inline-block;
}
